@use "_reset";

$body-font:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Open Sans",
  "Helvetica Neue",
  sans-serif;

html {
  font-family: $body-font;
  color: #fff;
  background-color: rgb(48, 54, 59);
  background: linear-gradient(
      -110deg,
      rgb(70, 29, 60) 0%,
      rgb(48, 54, 59) 50%,
      rgb(52, 75, 52) 100%
    )
    fixed;
}
